.container {
  text-align: left;
  padding: 1rem;
}

.mat-icon {
  vertical-align: middle;
}

.form-fields {
  text-align: left;
  align-content: space-between;
}

.mat-form-field {
  margin: 20px;
}

.info-response {
  margin-top: 20px;
}

.info-table {
  margin-top: 20px;
  text-align: left;
  width: 50%;
}
.info-key {
  font-weight: bold;
}

.info-header {
  height: 30px;
  font-weight: bold;
}

td {
  width: 50%;
}

button {
  margin: 20px;
}
