.container {
  text-align: left;
  padding: 1rem;
}

.mat-form-field {
  margin: 20px;
}

mat-card {
  margin: 20px;
}

[hidden] {
  visibility: hidden;
}

ul {
  list-style-type: none;
  margin-top: 4px;
}
.validate-check {
  position: relative;
  top: 8px;
  left: 20px;
}
.validate-check .mat-icon {
  color: green;
}
.mat-icon {
  cursor: pointer;
}

.mat-label {
  margin-left: 100px;
}
