<div class="container-fluid mt-3" fxFlexAlign="stretch">
  <mat-horizontal-stepper linear="false" (selectionChange)="onStepChange()" #stepper>
    <mat-step>
      <ng-template matStepLabel>Configure</ng-template>

      <mat-card>
        <section>
          <mat-tab-group (selectedTabChange)="onTabChanged($event)" [(selectedIndex)]="tabIndex">
            <mat-tab label="instructions">
              <section class="form-fields">
                <h6 class="sub-header mt-20">Welcome to CosmosToMongo</h6>
                <div class="instructions">
                  <p>
                    This tool allows you to migrate an existing MongoDB cluster hosted on AzureCosmos to MongoDB Atlas
                    with minimal downtime.
                  </p>
                  <p>Steps:</p>
                  <ol>
                    <li>Provide the connection details for your existing (cosmos) cluster.</li>
                    <li>Provide the connection details for your target mongodb cluster.</li>
                    <li>Provide virtual machine details to execute the migration.</li>
                    <li>Monitor your Backup , Restore , ChangeStream.</li>
                  </ol>
                  <p>View <a href="/">CosmosToMongo</a> documentation for any further details.</p>
                  <br />
                  <p>Provide name for this task.</p>
                </div>
                <mat-form-field appearance="legacy">
                  <mat-label>Task Name</mat-label>
                  <input matInput [(ngModel)]="Project.MigrationName" placeholder="Name your task" required />
                </mat-form-field>
                <div style="text-align: right">
                  <button
                    mat-raised-button
                    color="primary"
                    (click)="goNextStep()"
                    class="pull-right"
                    disabled="{{ Project.MigrationName == '' }}"
                  >
                    Next
                  </button>
                </div>
              </section>
            </mat-tab>
            <mat-tab label="source details (cosmos)">
              <section class="form-fields">
                <mat-form-field appearance="legacy">
                  <mat-label>Host URL</mat-label>
                  <input
                    matInput
                    [(ngModel)]="Project.Configuration.CosmosHost"
                    placeholder="sample.mongo.cosmos.azure.com:10255"
                    required
                  />
                </mat-form-field>
                <mat-form-field appearance="legacy">
                  <mat-label>Authentication Database</mat-label>
                  <input
                    matInput
                    [(ngModel)]="Project.Configuration.CosmosAuthenticationDatabase"
                    placeholder="Authenticating database e.g. Admin"
                    required
                  />
                </mat-form-field>
                <mat-form-field appearance="legacy">
                  <mat-label>User Name</mat-label>
                  <input
                    matInput
                    [(ngModel)]="Project.Configuration.CosmosUser"
                    placeholder="Database use name"
                    required
                  />
                </mat-form-field>
                <mat-form-field appearance="legacy">
                  <mat-label>Password</mat-label>
                  <input
                    matInput
                    [(ngModel)]="Project.Configuration.CosmosPassword"
                    placeholder="Password"
                    type="password"
                    required
                  />
                </mat-form-field>
              </section>
              <div style="margin: 20px; margin-left: 0">
                <button
                  mat-raised-button
                  color="primary"
                  (click)="getDatabaseList()"
                  disabled="{{
                    Project.Configuration.CosmosHost == '' ||
                      Project.Configuration.CosmosAuthenticationDatabase == '' ||
                      Project.Configuration.CosmosUser == '' ||
                      Project.Configuration.CosmosPassword == ''
                  }}"
                >
                  Validate
                </button>
                <span class="vaidation-message">
                  <span *ngIf="isCosmosConnectionValid" class="text-success">Connection successful.</span>
                  <span class="text-danger">{{ validationError }}</span>
                </span>
              </div>
              <section class="form-fields" *ngIf="isCosmosConnectionValid">
                <span class="non-input" style="width: 45%; display: inline-block">
                  <label>Dump All Databases</label><br />
                  <mat-radio-group aria-label="Dump All Databases" [(ngModel)]="Project.Configuration.DumpAll">
                    <mat-radio-button style="margin-right: 20px" value="true">Yes</mat-radio-button>
                    <mat-radio-button value="false">No</mat-radio-button>
                  </mat-radio-group>
                </span>
                <mat-form-field appearance="legacy">
                  <mat-label>Collections</mat-label>
                  <mat-select
                    [(ngModel)]="Project.Configuration.CosmosDatabases"
                    multiple
                    required
                    [disabled]="Project.Configuration.DumpAll"
                  >
                    <mat-option *ngFor="let db of cosmosDbList" [value]="db">{{ db }}</mat-option>
                  </mat-select>
                </mat-form-field>
                <div style="text-align: right">
                  <button mat-raised-button color="primary" (click)="goPreviousStep()" class="pull-right">
                    Previous
                  </button>
                  <button
                    mat-raised-button
                    color="primary"
                    (click)="goNextStep()"
                    class="pull-right"
                    disabled="{{
                      !(
                        isCosmosConnectionValid &&
                        (Project.Configuration.DumpAll || Project.Configuration.CosmosDatabases.length > 0)
                      )
                    }}"
                  >
                    Next
                  </button>
                </div>
              </section>
            </mat-tab>
            <mat-tab label="target details (mongo)">
              <section style="margin-top: 20px; margin-bottom: 10px">
                <mat-form-field appearance="legacy">
                  <mat-label>MongoDB Connection String</mat-label>
                  <input matInput [(ngModel)]="Project.Configuration.MongoUri" placeholder="" required />
                </mat-form-field>
                <p>
                  <small>e.g.</small>
                  <code
                    >mongodb://[username]:[password]@mongodb1.example.com:27017,mongodb2.example.com:27017,mongodb3.example.com:27017/myFirstDatabase?ssl=true&replicaSet=atlas-3odlmy-shard-0&authSource=[authenticatingdatabase]</code
                  >
                </p>
                <button
                  mat-raised-button
                  color="primary"
                  (click)="validateMongoDBConnection()"
                  [disabled]="Project.Configuration.MongoUri == ''"
                >
                  Validate
                </button>
                <span class="vaidation-message">
                  <span *ngIf="isMongoConnectionValid" class="text-success">Connection successful.</span>
                  <span class="text-danger">{{ validationError }}</span>
                </span>
                <div style="text-align: right">
                  <button mat-raised-button color="primary" (click)="goPreviousStep()" class="pull-right">
                    Previous
                  </button>
                  <button
                    mat-raised-button
                    color="primary"
                    (click)="goNextStep()"
                    class="pull-right"
                    disabled="{{ !isMongoConnectionValid }}"
                  >
                    Next
                  </button>
                </div>
              </section>
            </mat-tab>
            <mat-tab label="Virtual Machine Configuration">
              <section style="margin-top: 20px; margin-bottom: 10px">
                <h6 class="sub-header">Service Principal Details</h6>
                <mat-form-field appearance="legacy">
                  <mat-label>ClientId</mat-label>
                  <input matInput [(ngModel)]="Project.AzAccount.ClientId" placeholder="" required />
                </mat-form-field>
                <mat-form-field appearance="legacy">
                  <mat-label>Client Secret</mat-label>
                  <input matInput [(ngModel)]="Project.AzAccount.ClientSecret" placeholder="" required />
                </mat-form-field>
                <mat-form-field appearance="legacy">
                  <mat-label>TenantId</mat-label>
                  <input matInput [(ngModel)]="Project.AzAccount.TenantId" placeholder="" required />
                </mat-form-field>
                <mat-form-field appearance="legacy">
                  <mat-label>SubscriptionId</mat-label>
                  <input matInput [(ngModel)]="Project.AzAccount.SubscriptionId" placeholder="" required />
                </mat-form-field>
                <div>
                  <button
                    mat-raised-button
                    color="primary"
                    (click)="getConfiguration()"
                    [disabled]="
                      Project.AzAccount.ClientId == '' ||
                      Project.AzAccount.ClientSecret == '' ||
                      Project.AzAccount.TenantId == '' ||
                      Project.AzAccount.SubscriptionId == ''
                    "
                  >
                    Configure VM
                  </button>
                  <span class="vaidation-message">
                    <span *ngIf="isMongoConnectionValid" class="text-success">Connection successful.</span>
                    <span class="text-danger">{{ validationError }}</span>
                  </span>
                </div>
              </section>

              <section style="margin-top: 20px; margin-bottom: 10px" *ngIf="isConfigurationavailable">
                <h6 class="sub-header">Virtual Machine</h6>
                <p><small>instructions aksjksjd dhkhdskf f kjsdhfkj</small></p>
                <div style="margin-top: 20px">
                  <mat-radio-group aria-label="Select an OS" [(ngModel)]="Project.VMConfiguration.OsName">
                    <mat-radio-button style="margin-right: 20px" value="Windows">Windows</mat-radio-button>
                    <mat-radio-button value="Linux">Linux</mat-radio-button>
                  </mat-radio-group>
                </div>
                <mat-form-field appearance="legacy">
                  <mat-label>Resource Group Name</mat-label>
                  <input matInput [(ngModel)]="Project.VMConfiguration.ResourceGroupName" placeholder="" required />
                </mat-form-field>
                <mat-form-field appearance="legacy">
                  <mat-label>VM Size</mat-label>
                  <input matInput [(ngModel)]="Project.VMConfiguration.VMSize" placeholder="" />
                </mat-form-field>
                <mat-form-field appearance="legacy">
                  <mat-label>Machine Name</mat-label>
                  <input
                    matInput
                    [(ngModel)]="Project.VMConfiguration.MachineName"
                    placeholder="Machine name. Avoid Spaces"
                    required
                  />
                </mat-form-field>
                <mat-form-field appearance="legacy">
                  <mat-label>Location</mat-label>
                  <mat-select [(ngModel)]="Project.VMConfiguration.Location" required>
                    <mat-option *ngFor="let location of locations" [value]="location">{{ location }}</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field appearance="legacy">
                  <mat-label>Disk Size(GB)</mat-label>
                  <input matInput [(ngModel)]="Project.VMConfiguration.DiskSize" placeholder="" type="number" />
                </mat-form-field>
                <mat-form-field appearance="legacy">
                  <mat-label>User Name</mat-label>
                  <input matInput [(ngModel)]="Project.VMConfiguration.UserName" placeholder="" required />
                </mat-form-field>
                <mat-form-field appearance="legacy">
                  <mat-label>Password</mat-label>
                  <input
                    matInput
                    [(ngModel)]="Project.VMConfiguration.Password"
                    placeholder=""
                    required
                    type="password"
                  />
                </mat-form-field>
              </section>
              <div style="text-align: right">
                <button mat-raised-button color="primary" (click)="goPreviousStep()" class="pull-right">
                  Previous
                </button>
                <button
                  mat-raised-button
                  color="primary"
                  (click)="saveConfiguration(stepper)"
                  class="pull-right"
                  disabled="{{
                    Project.AzAccount.ClientId == '' ||
                      Project.AzAccount.ClientSecret == '' ||
                      Project.AzAccount.TenantId == '' ||
                      Project.AzAccount.SubscriptionId == '' ||
                      Project.VMConfiguration.OsName == '' ||
                      Project.VMConfiguration.ResourceGroupName == '' ||
                      Project.VMConfiguration.Location == '' ||
                      Project.VMConfiguration.MachineName == '' ||
                      Project.VMConfiguration.VMSize == '' ||
                      Project.VMConfiguration.DiskSize == 0 ||
                      Project.VMConfiguration.UserName == '' ||
                      Project.VMConfiguration.Password == ''
                  }}"
                >
                  Start
                </button>
                <mat-label class="mat-label" *ngIf="isBackupStarted"
                  >Infra creation started successfully.Visit <a routerLink="/first-component">History</a> tab for status
                  updates.</mat-label
                >
              </div>
            </mat-tab>
          </mat-tab-group>
        </section>
      </mat-card>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>InfraCreation</ng-template>
      <div class="mt-2">
        <h6 class="sub-header" style="margin-bottom: 20px">Migration History</h6>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Task Name</th>
              <th scope="col">Requested Date</th>
              <th scope="col">Machine Name</th>
              <th scope="col">Status</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let project of projectList">
              <td>{{ project.migrationName }}</td>
              <td>{{ project.requestedDateTime }}</td>
              <td>{{ project.vmConfiguration.machineName }}</td>
              <td>{{ project.migrationStatus }}</td>
              <td>
                <mat-icon
                  aria-hidden="false"
                  color="primary"
                  aria-label="Edit"
                  title="Edit"
                  (click)="editProject(project.id)"
                  >edit
                </mat-icon>
                <mat-icon
                  aria-hidden="false"
                  color="primary"
                  aria-label="Refresh"
                  title="Refresh"
                  (click)="refreshProject(project.id)"
                >
                  refresh
                </mat-icon>
                <mat-icon
                  aria-hidden="false"
                  color="accent"
                  aria-label="Go to Migration"
                  title="Go to Migration"
                  (click)="gotoMigration(stepper, project)"
                >
                  launch</mat-icon
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <section>
        <!-- <textarea *ngIf="loadTestLogs != null" disabled="true" style="width: 100%; height: 200px">{{
              loadTestLogs
            }}</textarea> -->
      </section>

      <div style="text-align: right; margin: 20px">
        <!-- <button mat-raised-button class="bg-secondary text-white" matStepperPrevious style="float: left">
            Previous
          </button> -->
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Migration</ng-template>

      <mat-card>
        <section>
          <mat-tab-group (selectedTabChange)="onTabChanged($event)">
            <mat-tab label="backup">
              <section class="mt-20" *ngIf="infraCreationProject">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Task Name</th>
                      <th scope="col">Requested Date</th>
                      <th scope="col">Machine Name</th>
                      <th scope="col">Status</th>
                      <th scope="col">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{ infraCreationProject.migrationName }}</td>
                      <td>{{ infraCreationProject.requestedDateTime }}</td>
                      <td>{{ infraCreationProject.vmConfiguration.machineName }}</td>
                      <td>{{ infraCreationProject.migrationStatus }}</td>
                      <td>
                        <button
                          mat-icon-button
                          color="primary"
                          aria-label="Start Backup"
                          title="Start Backup"
                          (click)="backupProject(infraCreationProject.id)"
                        >
                          <mat-icon>backup</mat-icon> Start
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </section>
            </mat-tab>
            <mat-tab label="restore">
              <section class="mt-20" *ngIf="infraCreationProject">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Task Name</th>
                      <th scope="col">Requested Date</th>
                      <th scope="col">Machine Name</th>
                      <th scope="col">Status</th>
                      <th scope="col">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{ infraCreationProject.migrationName }}</td>
                      <td>{{ infraCreationProject.requestedDateTime }}</td>
                      <td>{{ infraCreationProject.vmConfiguration.machineName }}</td>
                      <td>{{ infraCreationProject.migrationStatus }}</td>
                      <td>
                        <button
                          mat-icon-button
                          color="primary"
                          aria-label="Start Restore"
                          title="Start Restore"
                          (click)="restoreProject(infraCreationProject.id)"
                        >
                          <mat-icon>restore</mat-icon> Start
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </section>
            </mat-tab>
            <mat-tab label="change events">
              <section class="mt-20" *ngIf="infraCreationProject">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Task Name</th>
                      <th scope="col">Requested Date</th>
                      <th scope="col">Machine Name</th>
                      <th scope="col">Status</th>
                      <th scope="col">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{ infraCreationProject.migrationName }}</td>
                      <td>{{ infraCreationProject.requestedDateTime }}</td>
                      <td>{{ infraCreationProject.vmConfiguration.machineName }}</td>
                      <td>{{ infraCreationProject.migrationStatus }}</td>
                      <td>
                        <button
                          mat-icon-button
                          color="primary"
                          aria-label="Start Change Event"
                          title="Start Change Event"
                          (click)="changeEventProject(infraCreationProject.id)"
                        >
                          <mat-icon>visibility</mat-icon> Start
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </section>
            </mat-tab>
          </mat-tab-group>
        </section>
      </mat-card>
    </mat-step>
  </mat-horizontal-stepper>
</div>
