<mat-toolbar class="mat-elevation-z6 navbar">
  <!--fxHide.gt-sm-->
  <div fxLayoutAlign="start center">
    <!-- <button class="menu-button" mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button> -->
    <div class="d-flex" style="width: 110px">
      <img src="./../../assets/PeerIslands-Logo_Color_RGB-e1574207497308.png" class="logo peerislands-logo pr-2" />
      <img src="./../../assets/mongodb-logo.png" class="logo pl-2" />
    </div>
    <!-- <span class="title">{{ title }}</span> -->
  </div>
  <!-- <div fxHide.lt-md>
    <a class="brand" href="https://github.com/ngx-rocket" translate>APP_NAME</a>
    <button mat-button routerLink="/info" routerLinkActive="active">
      <mat-icon>info</mat-icon>
      <span translate>MongoDB/Cluster info</span>
    </button>
    <button mat-button routerLink="/about" routerLinkActive="active">
      <mat-icon>speed</mat-icon>
      <span translate>Load Test</span>
    </button>
  </div> -->
  <div class="app-name text-success">CosmosToMongo</div>

  <span fxFlex>
    <div fxLayoutAlign="end" fxLayout="row">
      <!-- <button mat-button routerLink="/" routerLinkActive="active">
        <mat-icon>file_upload</mat-icon>
        <span translate>Load Gen</span>
      </button>-->
      <button mat-button routerLink="" routerLinkActive="active">
        <mat-icon>speed</mat-icon>
        <span translate>Configure</span>
      </button>
      <button mat-button routerLink="history" routerLinkActive="active">
        <mat-icon>history</mat-icon>
        <span translate>History</span>
      </button>
    </div>
  </span>
  <!-- <app-language-selector icon="true"></app-language-selector> -->
</mat-toolbar>
